<a href="https://colab.research.google.com/github/manish55shukla/AirBnb-Bookings-Analysis/blob/main/Project_AirBnb_Bookings_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#             **AirBnb Bookings Analysis EDA Project**

---

Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more.

This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values.

In [1]:
#Importing all the libraries 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline 

#It enables inline plotting i.e, the plot/graph will be displayed below the cell where the plotting commands are written.

In [3]:
# Mount the google drive

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
df = pd.read_csv('Airbnb NYC 2019.csv')

In [5]:
# Print information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36334 entries, 0 to 36333
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36334 non-null  int64
 1   name                            36318 non-null  object
 2   host_id                         36334 non-null  int64
 3   host_name                       36313 non-null  object
 4   neighbourhood_group             36333 non-null  object
 5   neighbourhood                   36333 non-null  object
 6   latitude                        36333 non-null  float64
 7   longitude                       36333 non-null  float64
 8   room_type                       36333 non-null  object
 9   price                           36333 non-null  float64
 10  minimum_nights                  36333 non-null  float64
 11  number_of_reviews               36333 non-null  float64
 12  last_review                     30532 non-null  object
 13  reviews_per_month               30532 non-null  float64
 14  calculated_host_listings_count  36333 non-null  float64
 15  availability_365                36333 non-null  float64
dtypes: float64(8), int64(2), object(6)
memory usage: 4.4+ MB

In [6]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,3.633400e+04,3.633400e+04,36333.000000,36333.000000,36333.000000,36333.000000,36333.000000,30532.000000,36333.000000,36333.000000
mean,1.422079e+07,4.471385e+07,40.728640,-73.953169,147.358022,6.905651,29.448793,1.142241,3.941761,101.593427
std,8.427656e+06,5.381382e+07,0.054364,0.044079,230.736064,21.098663,49.930208,1.480552,13.425832,129.733033
min,2.539000e+03,2.438000e+03,40.499790,-74.242850,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,6.967039e+06,5.905590e+06,40.689100,-73.982400,69.000000,2.000000,1.000000,0.140000,1.000000,0.000000
50%,1.421927e+07,2.213123e+07,40.722280,-73.955970,105.000000,3.000000,8.000000,0.490000,1.000000,18.000000
75%,2.152909e+07,6.139196e+07,40.763490,-73.938240,170.000000,5.000000,35.000000,1.660000,2.000000,201.000000
max,2.891183e+07,2.179093e+08,40.911690,-73.712990,10000.000000,1250.000000,629.000000,19.750000,232.000000,365.000000

In [7]:
# Find first 3 rows of the DataFrame

df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0

In [8]:
# Find last 3 rows of the DataFrame

df.tail(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
36331,28911697,Cozy Artist Room,70230403,Sonya,Brooklyn,Bushwick,40.69677,-73.92688,Private room,57.0,1.0,1.0,2018-10-22,0.12,1.0,0.0
36332,28911775,LUXURY PRIVATE BEDROOM & Bath Mins from JFK,217621677,Joseph,Queens,St. Albans,40.68754,-73.77488,Private room,50.0,1.0,16.0,2019-07-07,1.78,4.0,137.0
36333,28911830,Charming redbrick Bronx Villa,19108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Calculate which fields are null in the DataFrame
df.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36331,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36332,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36333,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True

In [10]:
# Sum of all the null fields

df.isnull().sum()

id                                   0
name                                16
host_id                              0
host_name                           21
neighbourhood_group                  1
neighbourhood                        1
latitude                             1
longitude                            1
room_type                            1
price                                1
minimum_nights                       1
number_of_reviews                    1
last_review                       5802
reviews_per_month                 5802
calculated_host_listings_count       1
availability_365                     1
dtype: int64

In [11]:
# Print the first 10 name, price and corresponding room type of DataFrame

df.loc[0:9, ["name","price",'room_type']]

                                               name  price        room_type
0                Clean & quiet apt home by the park  149.0     Private room
1                             Skylit Midtown Castle  225.0  Entire home/apt
2               THE VILLAGE OF HARLEM....NEW YORK !  150.0     Private room
3                   Cozy Entire Floor of Brownstone   89.0  Entire home/apt
4  Entire Apt: Spacious Studio/Loft by central park   80.0  Entire home/apt
5         Large Cozy 1 BR Apartment In Midtown East  200.0  Entire home/apt
6                                   BlissArtsSpace!   60.0     Private room
7                  Large Furnished Room Near B'way    79.0     Private room
8                Cozy Clean Guest Room - Family Apt   79.0     Private room
9                Cute & Cozy Lower East Side 1 bdrm  150.0  Entire home/apt

In [12]:
# df.groupby(["room_type"])

df.nunique()

id                                36334
name                              35671
host_id                           29185
host_name                          9273
neighbourhood_group                   5
neighbourhood                       221
latitude                          16822
longitude                         12736
room_type                             3
price                               557
minimum_nights                       98
number_of_reviews                   394
last_review                        1764
reviews_per_month                   828
calculated_host_listings_count       43
availability_365                    366
dtype: int64

In [13]:
# Print first 10 persons of private room having host_id, host_name, neighbourhood having maximum number_of_reviews.

private_rooms = df[df['room_type'] == 'Private room']
list_private_rooms = private_rooms.groupby(['host_id','host_name','neighbourhood']).size().reset_index(name = "number_of_reviews").sort_values(by= ['number_of_reviews'],ascending =False)

list_private_rooms.head(10)

,host_id,host_name,neighbourhood,number_of_reviews
12969,190921808,John,Hell's Kitchen,40
12524,159091490,Melissa,Gowanus,17
3164,6885157,Randy,Bedford-Stuyvesant,13
3943,9864136,Anthony,Bushwick,13
6825,26377263,Stat,East Flatbush,13
10131,69545883,Chayla,Midtown,12
11012,96098402,Wynpoints,Midtown,12
362,344035,Brooklyn& Breakfast -Len-,Prospect Heights,12
11950,134184451,Hillside Hotel,Jamaica,12
9959,65809485,Shirley,Flushing,12

In [14]:
# FInd out how many unique neighbourhood Erin have

erin_data = df[df['host_name'] == 'Erin']

erin_neighbourhood = erin_data[['host_id','host_name','neighbourhood']]

erin_neighbourhood.head(10)

       host_id host_name       neighbourhood
888    1644452      Erin            Gramercy
1004   1952186      Erin        Williamsburg
1185   2487319      Erin     Upper West Side
1303   2790324      Erin  Bedford-Stuyvesant
2334    712590      Erin    Prospect Heights
2389   4922378      Erin             Midtown
2577   1673136      Erin             Chelsea
2831   8457613      Erin            Gramercy
3405  10478532      Erin      Hell's Kitchen
4285   3864482      Erin   Greenwich Village

In [15]:
#Find number of room types and mean of the price along with minimum nights
df.groupby('room_type').agg({'room_type':'count','price':'mean','minimum_nights':'min'})

                 room_type       price  minimum_nights
room_type
Entire home/apt      19014  202.518933             1.0
Private room         16604   87.252710             1.0
Shared room            715   76.251748             1.0

In [17]:
# Count number of groups are there in particular neighbourhood groups. 
df.groupby('neighbourhood_group')['name'].count()

neighbourhood_group
Bronx              703
Brooklyn         15585
Manhattan        15919
Queens            3845
Staten Island      265
Name: name, dtype: int64

In [19]:
#Calculate the mean of reviews per month based on host name alogn with this print neighbourhood group name as well
df.groupby(['host_name','neighbourhood_group'])['reviews_per_month'].mean().sort_values(ascending = False).head(8)

host_name  neighbourhood_group
Nalicia    Queens                 18.126667
Dona       Queens                 13.990000
Malini     Queens                 13.150000
Anabell    Queens                 12.990000
Miss Dy    Queens                 12.840000
Deloris    Queens                 12.480000
Jae        Manhattan              12.050000
Balwinder  Queens                 11.560000
Name: reviews_per_month, dtype: float64